<!-- footer -->

<section class="footer">

    <nav>
        <a href="">Minha Conta</a>
        <a href="">Meus Pedidos</a>
        <a href="">Politica de privacidade</a>
        <a href="">Metodos de pagamento</a>
        <a href="">Sobre nós</a>
    </nav>

</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="main.js"></script>