<header class="header">
    <div class="header-1">

        <a href="/" class="logo">Leia<strong>Mais</strong></a>
    
        <form action="" class="form-busca">
            <input type="search" name="" placeholder="qual livro você procura?" id="campo-busca">
            <label for="campo-busca" class="fas fa-search"></label>
        </form>

        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <a href="#" class="fas fa-basket-shopping"></a>
            <a href="#" class="fas fa-heart"></a>
            <div id="login-btn" class="fas fa-user"></div>
        </div>
    </div>
    
    <div class="header-2">
        <nav class="navbar">
            <a href="#inicio">inicio</a>
            <a href="#destaques">destaques</a>
            <a href="#novidades">novidades</a>
        </nav>
    </div>
        
</header>

<!-- navbar inferior para mobile -->
<nav class="bottom-navbar">
    <a href="/" class="fas fa-home"></a>
    <a href="#destaques" class="fas fa-trophy"></a>
    <a href="#novidades" class="fas fa-star"></a>
</nav>

<!-- formulario de login -->
<div class="login-form-container">

    <div id="close-login-btn" class="fas fa-times"></div>
    
    <form action="">
        <h3>Entrar</h3>
        <span>Nome de Usuário</span>
        <input type="email" name="" class="box" placeholder="digite seu email ou user">
        <span>Senha</span>
        <input type="password" name="" class="box" placeholder="digite a sua senha">
        <div class="checkbox">
            <input type="checkbox" name="" id="lembrar-de-mim">
            <label for="lembrar-de-mim">Lembrar de mim</label>
        </div>
        <input type="submit" value="Entrar" class="btn">
        <input type="submit" value="Cadastre-se" class="btn cadastro">
        <!-- <p><a href="#">Criar conta</a></p> -->
        <p><a href="#">Esqueci minha senha</a></p>
    </form>

</div>