
#logo-topo{
    padding: 30px 60px 30px 130px;
    height: 25px;
}

#botao-categorias{
    margin: auto 0px auto;
}

#campo-busca{
    display: flex;
    justify-content: center;
    margin: auto 15px auto;
    width: 500px;
    height: 40px;
    background-color: white;
    border-radius: 6px;
}

#icon-lupa{
    display: block;
    margin-top: auto;
    margin-bottom: auto;

}

#botao-busca{
    padding: 7px;
    margin: 0px;
}

#input-busca{
    font-family: 'Montserrat';
    font-size: 12px;
    border: none;
    margin: auto 20px auto 10px;
    height: 35px;
    width: 400px;
}

#input-busca:active{
    border: none;
}

#botao-cesta{
    border: 2px red;
}

#link-categorias{
    
    color: white;
    font-family: 'Montserrat';
    font-size: 14pt;
    text-decoration: none;
}

header{
    height: 85px;
    display: flex;
    background-color: #17ADB4;
}