<html>
<%- include('./partials/head.ejs') %>

<body>
<%- include('./partials/header.ejs') %>

<h1 class="notfound heading"> <span>404: Página não encontrada</span></h1>

<%- include('./partials/footer.ejs') %>

</body>
</html>
