<html>
<%- include('./partials/head.ejs') %>

<body>
<%- include('./partials/header.ejs') %>

<!-- pagina home -->

<section class="banner">
    <img src="/livros/banner.png" width="100%" alt="">
</section>

<!-- <section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3>até 73% de desconto</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at elementum metus, quis porttitor dui. Sed eu nibh pellentesque magna dapibus lobortis.</p>
            <a href="#" class="btn">Comprar</a>
        </div>

        <div class="swiper books-slider">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide"><img src="/livros/biblioteca da meia noite.jpg" alt=""></a>
                <a href="#" class="swiper-slide"><img src="/livros/amanha amanha amanha.jpg" alt=""></a>
                <a href="#" class="swiper-slide"><img src="/livros/mr mercedes.jpg" alt=""></a>
                <a href="#" class="swiper-slide"><img src="/livros/o vilarejo.jpg" alt=""></a>
                <a href="#" class="swiper-slide"><img src="/livros/percy jackson ladrão de raios.jpg" alt=""></a>
                <a href="#" class="swiper-slide"><img src="/livros/vespera.jpg" alt=""></a>
                <a href="#" class="swiper-slide"><img src="/livros/viola davis.jpg" alt=""></a>
            </div>
            <div class="swiper-pagination"></div>

        </div>

    </div>

</section> -->

<!-- seção em destaque -->

<section class="destaques" id="destaques">

    <h1 class="heading"> <span>Livros em destaque</span></h1>

    <div class="swiper slider-destaques">

        <div class="swiper-wrapper">
            <a href="/produto.html">
                <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="livros/biblioteca da meia noite.jpg" alt="">
                    <div class="desc">
                        <h5>Biblioteca da Meia Noite</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>
            </a>
            

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="livros/a cinco passos de voce.jpg" alt="">
                    <div class="desc">
                        <h5>A cinco passos de você</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="livros/nao sobrou nenhhum.jpg" alt="">
                    <div class="desc">
                        <h5>E Não Sobrou Nenhum</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="livros/o vilarejo.jpg" alt="">
                    <div class="desc">
                        <h5>O Vilarejo</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="livros/percy jackson ladrão de raios.jpg" alt="">
                    <div class="desc">
                        <h5>Percy Jackson e o Ladrão de Raios</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="livros/rainha charlotte.jpg" alt="">
                    <div class="desc">
                        <h5>Rainha Charlotte</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="livros/vespera.jpg" alt="">
                    <div class="desc">
                        <h5>Véspera</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>
            
            
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- seção novidades  AINDA NÃO TERMINADA-->

<section class="novidades" id="novidades">

    <h1 class="heading"> <span>Novidades</span> </h1>

    <div class="swiper slider-novidades">

        <div class="swiper-wrapper">
            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="livros/a cinco passos de voce.jpg" alt="">
                    <div class="desc">
                        <h5>A cinco passos de você</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="livros/nao sobrou nenhhum.jpg" alt="">
                    <div class="desc">
                        <h5>E Não Sobrou Nenhum</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="livros/o vilarejo.jpg" alt="">
                    <div class="desc">
                        <h5>O Vilarejo</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="livros/percy jackson ladrão de raios.jpg" alt="">
                    <div class="desc">
                        <h5>Percy Jackson e o Ladrão de Raios</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="livros/rainha charlotte.jpg" alt="">
                    <div class="desc">
                        <h5>Rainha Charlotte</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

            <div class="produto-container swiper-slide">
                <div class="produto">
                    <img src="livros/vespera.jpg" alt="">
                    <div class="desc">
                        <h5>Véspera</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>R$46,00</h4>
                    </div>
                    <a href="#"> <i class="fas fa-basket-shopping cesta"></i></a>
                </div>
            </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<%- include('./partials/footer.ejs') %>

</body>
</html>
