<html>
<%- include('./partials/head.ejs') %>

<body>
<%- include('./partials/header.ejs') %>

<!-- seção em destaque -->
<section class="destaques" id="destaques">

    <h1 class="heading"> <span>Livros em destaque</span></h1>
    <%- include('./partials/table.ejs') %>

</section>

<!-- footer -->

    <%- include('./partials/footer.ejs') %>

</body>
</html>