@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');

:root{
    --green:#17ADB4;
    --dark-color:#106F6F;
    --black:#444;
    --light-color:#666;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
    background: none;
}

a{
    color:#106F6F;
}

a:hover{
    color: #000000;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}



section{
    padding: 5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2em;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover{
    background: var(--dark-color);
}

.header .header-1{
    background: var(--green);
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

strong{
    font-weight: bolder;
}

.header .header-1 .logo{
    font-size: 3rem;
    color: #fff;
}

.header .header-1 .form-busca{
    width: 50rem;
    height: 5rem;
    border: var(--dark-color);
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .7rem;
}

.header .header-1 .form-busca input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .form-busca label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--green);
    cursor: pointer;
}

.header .header-1 .form-busca label:hover{
    color: var(--black);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: #fff;
    cursor: pointer;
}

#search-btn{
    display: none;
}

.header .header-2{
    background: var(--green);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.header .header-2 .navbar a:hover{
    background: var(--dark-color);
}

.header .header-2.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.bottom-navbar{
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover{
    background-color: var(--dark-color);
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.8);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container.active{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container form{
    background-color: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding:1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.login-form-container form .cadastro{
    color: var(--green);
    background-color: #fff;
    border: 2px solid var(--green);
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}
.login-form-container form .cadastro:hover{
    border:2px solid var(--dark-color);
    color: #fff;
    background-color: var(--dark-color);
}

.login-form-container form p{
    text-align: center;
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color: var(--green);
    text-decoration: underline;

}

.login-form-container #close-login-btn{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

.home{
    background: #fff;
    background-size: cover;
    background-position: center;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content{
    flex: 1 1 42rem;
}

.home .row .books-slider{
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}


.home .row .books-slider a img{
    height: 25rem;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .content h3{
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

/* .destaques .slider-destaques .box, .novidades .slider-novidades .box{
    display: block;
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.destaques .slider-destaques .box:hover, 
.novidades .slider-novidades .box:hover{
    border: var(--border-hover);
}



.destaques .slider-destaques .box .image img{
    height: 25rem;
}

.destaques .slider-destaques .box .content{
    background: #eee;
    padding: 1.5rem;
}

.destaques .slider-destaques .box .content h3{
    font-size: 2rem;
    color: var(--black);
}

.destaques .slider-destaques .box .content .price{ 
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}

.destaques .slider-destaques .box .content .price span{
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.destaques .swiper-button-next, .destaques .swiper-button-prev{
    color: var(--green);
    height: 4rem;
    width: 4rem;
}

.novidades .slider-novidades .box{
    margin: 1rem 0;
}

.novidades .slider-novidades .box:hover{
    border: var(--border-hover);
}

.novidades .slider-novidades .box .image img{
    height:25rem;
}

.novidades .slider-novidades .box .content h3{
    margin-top: 1rem;
    font-size: 2rem;
    color: var(--black);
}

.novidades .slider-novidades .box .content .price{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.novidades .slider-novidades .box .content .price span{
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.novidades .slider-novidades .box .content .stars{
    font-size: 1.5rem;
    color: var(--green);
} */

.footer{
    width: 100%;
    display: flex;
    height: 7rem;
    text-align: center;  
    background: var(--green);
}

.footer nav a{
    font-size: 1.5rem;
    color: #fff;
    padding: 3rem;
}

.footer nav a:hover{
    background-color: var(--dark-color);
}

.cesta-container {
    background: #fff;
    height: 100%;
    left: 0;
    width: 45rem;
}

.swiper-button-next, .swiper-button-prev{
    color: var(--green);
    height: 4rem;
    width: 4rem;
}

.produto-container .produto{
    display: inline-block;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #fff;
    border-radius: ;
    cursor: pointer;
    margin: 3rem 0;
    position: relative;
    text-align: center;
}
.produto

.produto-container .produto .desc{
    text-align: start;
    padding: 3rem 0;
}

.produto-container .produto img{
    width: 100%;

}

.produto-container h4{
    font-size: 2.2rem;
    font-weight: 400;
}

.produto-container h5{
    font-size: 2.2rem;
    font-weight: 600;
}

.produto-container .produto i{
    color: var(--green);
    font-size: 1.6rem;
}

.produto-container .produto .cesta{
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #adf3f7;
    color: var(--green);
    position: absolute;
    bottom: 20px;
    right: 10px;

}

/* pagina de produto */

#detalhes-prod .single-pro-img{
    width: 40%;
    margin-right: 50px;
}

#detalhes-prod {
    display: flex;
    margin-top: 20px;
}

#detalhes-prod .single-prod-detalhes{
    margin-left: 5rem;
}

#detalhes-prod .single-prod-detalhes input{
    width: 10rem;
    margin-top: 1rem;
    margin-right: 10px;
    display: inline-block;
    padding: .9rem 3rem;
    border: var(--border);
    border-radius: .5rem;
    color: var(--black);
    background: #fff;
    font-size: 1.7rem;
}

#detalhes-prod .single-prod-detalhes .icon-botao-cesta{
    margin-right: 1rem;
}

#detalhes-prod .single-prod-detalhes{
    width: 50%;
    padding-top: 30px;
}

#detalhes-prod .single-prod-detalhes h4{
    padding: 40px 0 20px 0;
    font-size: 2rem;
}

#detalhes-prod .single-prod-detalhes h2{
    
    font-size: 26px;
}

#detalhes-prod .single-prod-detalhes span{
    line-height: 25px;
    font-size: 1.3rem;
}





























/* queries de midia */

@media (max-width:991px){

    section{
        padding: 3rem 2rem;
    }

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding: 2rem;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }
    
    body{
        padding-bottom: 6rem;
    }


    .header .header-2{
        display: none;
    }

    .bottom-navbar{
        display: block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .form-busca{
        position: absolute;
        top: -115px;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .form-busca.active{
        top: 115px;
    }

    #search-btn{
        display: inline-block;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }


}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
}
















/*

#logo-topo{
    padding: 30px 60px 30px 130px;
    height: 25px;
}

#botao-categorias{
    margin: auto 0px auto;
}

#campo-busca{
    display: flex;    
    justify-content: center;
    margin: auto 15px auto;
    width: 500px;
    height: 40px;
    background-color: white;
    border-radius: 6px;
}

#icon-lupa{
    display: block;
    margin-top: auto;
    margin-bottom: auto;

}

#botao-busca{
    padding: 7px;
    margin: 0px;
}

#input-busca{
    font-family: 'Montserrat';
    font-size: 12px;
    border: none;
    margin: auto 20px auto 10px;
    height: 35px;
    width: 400px;
}

#input-busca:active{
    border: none;
}

#botao-cesta{
    border: 2px red;
}

#link-categorias{
    display: flex;
    
    color: white;
    font-family: 'Montserrat';
    font-size: 14pt;
    text-decoration: none;
    background: none;
    border: none;
}

header{
    height: 85px;
    display: flex;
    background-color: #17ADB4;
}*/